.footer {
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: white;
}
.content{
    width: 40%;
    margin: auto;
    height: 70%;
    overflow: auto;
}
.myform{
    background-color: lightblue;
    padding: 10%;
    margin-bottom: 5%;
    margin-top: 10px;
    box-shadow: 5px 4px 4px 4px #888888;
}
.add_employee{
    width: 100%;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.prefix input {
    border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
}
.input-group-addon.prefix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
